# SciSciNet Test

In [3]:
import pandas as pd

## Papers

In [ ]:
%%time
SciNet_Papers = pd.read_csv(
    '../Thesis/SciSciNet/SciSciNet_Papers.tsv', sep='\t')
SciNet_Papers

## Journals

In [4]:
%%time
SciNet_Journals = pd.read_csv(
    '../Thesis/SciSciNet/SciSciNet_Journals.tsv', sep='\t')
SciNet_Journals

CPU times: user 58.9 ms, sys: 14.5 ms, total: 73.4 ms
Wall time: 82.8 ms

,JournalID,Journal_Name,ISSN,Publisher,Webpage
0,465895,Eureka,1342-5641,NaN,http://www.archim.org.uk/eureka/
1,1137746,The Artist and Journal of Home Culture,2329-8189,NaN,NaN
2,2978343,Cumberland Law Review,0360-8298,NaN,http://www.cumberlandlawreview.com/
3,3010151,Comparative Medicine East and West,0147-2917,NaN,NaN
4,3164724,Physiological Measurement,0967-3334,NaN,NaN
...,...,...,...,...,...
49061,2765076455,Journal of Changsha University of Science & Te...,NaN,NaN,NaN
49062,2898398052,Reviews in Physics,2405-4283,NaN,https://www.journals.elsevier.com/reviews-in-p...
49063,2898614270,Revista de Psiquiatría y Salud Mental,1888-9891,NaN,https://www.journals.elsevier.com/revista-de-p...
49064,2933375274,Indonesian Journal of Cardiology,0126-3773,Indonesian Heart Association,http://ijconline.id/index.php/ijc
49065,3012825557,International Journal of Occupational and Envi...,2008-6520,NIOC Health Organization,https://www.theijoem.com/ijoem/index.php/ijoem...

## Affiliations

In [6]:
%%time
SciNet_Affiliations = pd.read_csv(
    '../Thesis/SciSciNet/SciSciNet_Affiliations.tsv', sep='\t')
SciNet_Affiliations

CPU times: user 66.2 ms, sys: 11.3 ms, total: 77.5 ms
Wall time: 76.3 ms

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160,65,1503,15.708827,1.793917
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400,19,87,69.310345,2.798667
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610,37,344,22.126050,2.270640
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087,67,2286,21.061611,2.354786
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173,27,1875,0.792123,0.161562
...,...,...,...,...,...,...,...,...,...,...,...
26993,3130807960,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140,9,114,NaN,NaN
26994,3131031036,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974,3,11,2.000000,1.098612
26995,3132176766,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544,20,205,NaN,NaN
26996,3132554608,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134,0,14,NaN,NaN
26997,3132999081,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210,19,326,NaN,NaN

## Authours

In [11]:
%%time
SciNet_Author = pd.read_csv(
    '../Thesis/SciSciNet/SciSciNet_Authors.tsv', sep='\t')
SciNet_Author

CPU times: user 56.6 s, sys: 22.3 s, total: 1min 18s
Wall time: 2min 48s

,AuthorID,Author_Name,H-index,Productivity,Average_C10,Average_LogC10
0,584,Gözde Özdikmenli-Demir,3,5,NaN,NaN
1,859,Gy. Tolmár,1,3,0.666667,0.366204
2,978,Ximena Faúndez,4,10,8.666667,2.129520
3,1139,Jennifer Putzi,1,4,1.750000,0.659764
4,1476,勲矢 手島,0,1,0.000000,0.000000
...,...,...,...,...,...,...
134197157,3217810999,Junghwa Hwang,0,1,NaN,NaN
134197158,3217811001,فرحان العتيبي، أفراح,0,1,NaN,NaN
134197159,3217811010,Rongo,1,1,NaN,NaN
134197160,3217811011,Zhen Zhang,0,1,NaN,NaN
134197161,3217811013,Mu’amar Musa Nurwigantara,0,1,NaN,NaN

## Paper Authour Affiliations

In [ ]:
%%time
SciNet_PaperAuthorAffiliations = pd.read_csv(
    '../Thesis/SciSciNet/SciSciNet_PaperAuthorAffiliations.tsv', sep='\t')
SciNet_PaperAuthorAffiliations

## Fields

## Paper Fields

In [3]:
%%time
SciNet_PaperFields = pd.read_csv(
    '../Thesis/SciSciNet/SciSciNet_PaperFields.tsv', sep='\t')
SciNet_PaperFields

CPU times: user 48.7 s, sys: 10.9 s, total: 59.6 s
Wall time: 1min 16s

              PaperID    FieldID  Hit_1pct  Hit_5pct  Hit_10pct       C_f
0            18936224   71924100       0.0       0.0        0.0  0.731404
1            94748468  144024400       0.0       0.0        0.0  0.000000
2           113998959   71924100       0.0       0.0        0.0  0.270789
3            56740461  144133560       0.0       0.0        0.0  0.328162
4                  23   71924100       0.0       0.0        0.0  0.169123
...               ...        ...       ...       ...        ...       ...
277494989  3204507150  188027245       0.0       0.0        0.0  0.000000
277494990  3204507160  187212893       0.0       0.0        0.0  0.000000
277494991  3204507164  143998085       0.0       0.0        0.0  0.000000
277494992  3204507164  126322002       0.0       0.0        0.0  0.000000
277494993  3204507171   34447519       0.0       0.0        0.0  0.000000

[277494994 rows x 6 columns]

In [15]:
Physics_FieldId=SciNet_PaperFields[SciNet_PaperFields['FieldID']==121332964]
Physics_FieldId

              PaperID    FieldID  Hit_1pct  Hit_5pct  Hit_10pct       C_f
13           38064030  121332964       0.0       0.0        0.0  0.093360
29          132789625  121332964       0.0       0.0        0.0  0.108901
61          170361713  121332964       0.0       0.0        0.0  0.000000
62           56740737  121332964       0.0       0.0        0.0  1.038744
98          208270992  121332964       0.0       0.0        0.0  0.347295
...               ...        ...       ...       ...        ...       ...
116942077  3204506570  121332964       0.0       0.0        0.0  0.000000
116942079  3204506608  121332964       0.0       0.0        0.0  0.000000
116942082  3204506667  121332964       0.0       0.0        0.0  0.000000
116942111  3204506902  121332964       0.0       0.0        0.0  0.000000
116942133  3204507122  121332964       0.0       0.0        0.0  0.000000

[5153365 rows x 6 columns]

## Paper References

## Nobel laureates

## Gender

In [ ]:
%%time
SciNet_AuthorsGender = pd.read_csv(
    '../Thesis/SciSciNet/SciSciNet_Authors_Gender.tsv', sep='\t')
SciNet_AuthorsGender